body{
    background-image: linear-gradient(#ee82eeEE, #8a2be2);
    color: white;
    background-size: cover;
}
.main{
    display: flex;
    margin: 100px auto;
    max-width: 80%;
    border: 3px solid aliceblue;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    padding: 5px;
    height: 65.7vh;
    font-family: 'Moon Dance', cursive;

}
img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.one{
    width: 50%;
    border-right: 2px solid white;
    padding: 0 40px;
    font-size: 20px;
}
.two{
    width: 50%;
    padding: 0 40px;
    font-size: 20px;
}