.main{
    /* max-width: 600px; */
    max-width: 100vh;
    margin: 0 auto;
    /* display: flex;
    flex-direction: column; */
}
.header{
    display: flex;
    flex-direction: row;
    background-color: turquoise;
    color: aliceblue;
}
.header_text a{
    text-decoration: none;
    color: white;
    width: 100%;
    border-left: none;
    padding: 10px 0;
}
.header_left{
    width: 100%;
    display: flex;
    /* flex-direction: row; */
}
.header_right{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 10px;
    border-left: 2px solid white;
    height: 50%;
}



.content{
    display: flex;
    flex-direction: row;
    margin: 30px 0;
}

@media screen and (min-width: 700px) {
    .main{
        max-width: 600px;
    } 
}

/* @media screen and (max-width:700px) {
     .content{
        flex-direction: column;
    } 
    
} */
.left{
    padding: 0 40px;
    text-align: center;
}
input{
    border-radius: 5px;
    padding: 5px 2px;
}
button{
    margin-top: 40px;
    border-radius: 5px;
    padding: 7px 7px;
    background-color: turquoise;
    color: aliceblue;
}
.right div{
    padding-left: 15px;
    padding-right: 15px;
    border-right: 1px solid #8a2be2;
    border-left: 1px solid #8a2be2;
    text-align: center;
}
.footer{
    background-color: turquoise;
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    flex-direction: row;
}
img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-top: 4px;
}
.header_left img{
    margin-left: 10px;
    border-radius: 50%;
}