body{
    background-image: linear-gradient(#ec65ecee, #8a2be2);
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 82.5vh; */
    /* height: 100vh; */
    margin: 0;
}
.main{
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    /* margin: 100px auto; */
    /* width: 80%; */
    border: 3px solid aliceblue;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    padding: 5px;
    font-family: 'Moon Dance', cursive;

}
@media screen and (min-width: 700px){
    .main{
        flex-direction: row;
    } 
    .one{
        border-right: 2px solid white;
    }
    body{
        height: 100vh;  
    }
}  

@media screen and (max-width: 700px) {
    .one{
        border-right: none;
    }
}

img{
    border-radius: 50%;
    /* max-width: 10vh; */
    max-width: 100vh;
    height: 10vh;
}
.one{
    width: 50%;
    height: 80%;
    /* border-right: 2px solid white; */
    padding: 0 40px;
    font-size: 20px;
}
.two{
    width: 50%;
    height: 90%;
    padding: 0 40px;
    font-size: 20px;
} 