body{
    background-image: linear-gradient(#ec65ecee, #8a2be2);
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    height: 82.5vh;
}
.main{
    display: flex;
 /*   margin: 100px auto; */ 
    width: 100%;
    border: 3px solid aliceblue;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
 /*   padding: 5px; */
    font-family: 'Moon Dance', cursive;

}
img{
    border-radius: 50%;
    max-width: 10vh;
    max-width: 10vh;
}
.one{
    width: 50%;
    height: 80%;
    border-right: 2px solid white;
    padding: 0 40px;
    font-size: 20px;
}
.two{
    width: 50%;
    height: 90%;
    padding: 0 40px;
    font-size: 20px;
}
